@using SEP3_Tier1Blazor_WASM.Data
@using SEP3_Tier1Blazor_WASM.Data.UserData
@using SEP3_Tier1Blazor_WASM.Models
@using System.Net
@inject NavigationManager NavigationManager
@inject IUserManger UserManger
@inject IFileUpload FileUpload
@inject AuthenticationStateProvider Authentication

<div class="login-popup">
    @if (IsEditForm)
    {
        <h2>Edit Account</h2>
    }
    @if(!IsEditForm && !IsEditPassword)
    {
        <h2>Registration</h2>
    }
    @if (IsEditPassword)
    {
        <h2>Edit Password</h2>
    }

    <div class="content">
    @if (IsEditForm)
    {
        <EditForm Model="@User" OnValidSubmit="EditAccount">
            <img class="profile-avatar" src=@avatarSrc style="margin-bottom: 10px"/>
            <InputFile OnChange="OnInputFileChanged"/>
            @if (AccountType.Equals("RegularUser"))
            {
                <div class="control-group">
                    <InputText class="form-input" placeholder="First Name" @bind-Value="firstName" @onclick=HideResult />
                    <InputText class="form-input" placeholder="Last Name" @bind-Value="lastName" @onclick=HideResult />
                </div>
            }
                
            @if (AccountType.Equals("PageOwner"))
            {
                <InputText class="form-input" placeholder="Name" @bind-Value="User.Name" @onclick=HideResult />
            }
                 
            <InputText class="form-input" placeholder="Email" @bind-Value="User.Email" @onclick=HideResult />

            @if (AccountType.Equals("RegularUser"))
            {
                <InputText class="form-input" placeholder="City" style="border-bottom: 5px;" @bind-Value="User.City" @onclick=HideResult />
            }
                
            @if (AccountType.Equals("PageOwner"))
            {
                <div class="control-group">
                    <InputText class="form-input" placeholder="Street" style="border-bottom: 5px;" @bind-Value="Address.Street" @onclick=HideResult />
                    <InputText class="form-input" placeholder="Number" @bind-Value="Address.Number" @onclick=HideResult />
                </div>
                <div class="control-group">
                    <InputText class="form-input" placeholder="City" style="border-bottom: 5px;" @bind-Value="User.City" @onclick=HideResult />
                </div>
            }
            <InputTextArea class="form-input" placeholder="Description" @bind-Value="User.Description" @onclick=HideResult />
            
            <input type="submit" style="margin-top: 0px" class="form-button" value="Edit Account"/>
            <div style="padding: 20px">@((MarkupString) resultInformation)</div>
        </EditForm>
    }
    @if(!IsEditForm && !IsEditPassword)
    {
        <EditForm Model="@User" OnValidSubmit="CreateAccount">
            @if (AccountType.Equals("RegularUser"))
            {
                <div class="control-group">
                    <InputText class="form-input" placeholder="First Name" @bind-Value="firstName" @onclick=HideResult />
                    <InputText class="form-input" placeholder="Last Name" @bind-Value="lastName" @onclick=HideResult />
                </div>
            }

            @if (AccountType.Equals("PageOwner"))
            {
                <InputText class="form-input" placeholder="Name" @bind-Value="User.Name" @onclick=HideResult />
            }

            <InputText class="form-input" placeholder="Email" @bind-Value="User.Email" @onclick=HideResult />
            <InputText type="password" class="form-input" placeholder="Password"@bind-Value="User.Password" @onclick=HideResult />
            <InputText type="password" class="form-input" placeholder="Password Confirmation" style="border-bottom: 5px;" @bind-Value="passwordConfirmation" @onclick=HideResult />

            @if (AccountType.Equals("RegularUser"))
            {
                <InputText class="form-input" placeholder="City" style="border-bottom: 5px;" @bind-Value="User.City" @onclick=HideResult />
            }

            @if (AccountType.Equals("PageOwner"))
            {
                <div class="control-group">
                    <InputText class="form-input" placeholder="Street" style="border-bottom: 5px;" @bind-Value="Address.Street" @onclick=HideResult />
                    <InputText class="form-input" placeholder="Number" @bind-Value="Address.Number" @onclick=HideResult />
                </div>
                <div class="control-group">
                    <InputText class="form-input" placeholder="City" style="border-bottom: 5px;" @bind-Value="User.City" @onclick=HideResult />
                </div>
            }
            
            <input type="submit" style="margin-top: 0px" class="form-button" value="Create Account"/>
            <div style="padding: 20px">@((MarkupString) resultInformation)</div>
        </EditForm>
    }
    @if (IsEditPassword)
    {
         <EditForm Model="@User" OnValidSubmit="EditPassword">
          
            <InputText type="password" class="form-input" placeholder="New Password"@bind-Value="User.Password" @onclick=HideResult />
            <InputText type="password" class="form-input" placeholder="New Password Confirmation" style="border-bottom: 5px;" @bind-Value="passwordConfirmation" @onclick=HideResult />

            <input type="submit" style="margin-top: 0px" class="form-button" value="Create Account"/>
            <div style="padding: 20px">@((MarkupString) resultInformation)</div>
        </EditForm>
    }
</div>
</div>

@code {

    [Parameter]
    public string AccountType { get; set; }

    [Parameter]
    public bool IsEditForm { get; set; }
    
    [Parameter]
    public bool IsEditPassword { get; set; }

    [Parameter]
    public User EditedUser { get; set; }


    private string firstName;
    private string lastName;
    private string avatarSrc;

    public User User { get; set; }
    public Address Address { get; set; }

    private string passwordConfirmation;
    private string resultInformation = "";

    protected override void OnInitialized()
    {
        if (EditedUser != null)
        {
            User = EditedUser;
            
            string[] tempUser = EditedUser.Name.Split(' ');
            if (tempUser.Length == 2){
                 firstName = tempUser[0];
                lastName = tempUser[1];
            }
            avatarSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(EditedUser.Avatar));
        }
        else
        {
            if (AccountType.Equals("RegularUser"))
                Address = null;
            else
                Address = new Address();
            User = new User()
            {
                Address = Address
            };
        }
    }

    private async Task CreateAccount()
    {
        if (AccountType.Equals("RegularUser"))
            User.Name = firstName + " " + lastName;

        bool result = await UserManger.AddNewUser(User);

        if (result)
            resultInformation = "<span class='info-message' style='color:green;'>Account successfully created!</span>";
        else
            resultInformation = "<span class='info-message' style='color:red;'>Server connection error, try later</span>";
        StateHasChanged();

    }

    private async Task EditAccount()
    {

      
        
        bool result = await UserManger.EditUser(User, StaticFunctions.GetLoggedUser(await Authentication.GetAuthenticationStateAsync())); await UserManger.EditUser(User, StaticFunctions.GetLoggedUser(await Authentication.GetAuthenticationStateAsync()));
        
        if (result)
            resultInformation = "<span class='info-message' style='color:green;'>Account successfully edited!</span>";
        else
            resultInformation = "<span class='info-message' style='color:red;'>Server connection error, try later</span>";
    }

    private async Task EditPassword()
    {
          if (User.Password != null)
                {
                    if (User.Password.Equals(passwordConfirmation))
                    {
                        bool result = await UserManger.EditUser(User, StaticFunctions.GetLoggedUser(await Authentication.GetAuthenticationStateAsync())); await UserManger.EditUser(User, StaticFunctions.GetLoggedUser(await Authentication.GetAuthenticationStateAsync()));
                        if (result)
                            resultInformation = "<span class='info-message' style='color:green;'>Account successfully edited!</span>";
                        else
                            resultInformation = "<span class='info-message' style='color:red;'>Server connection error, try later</span>";
                    }
                    else
                    {
                        resultInformation = "<span class='info-message' style='color:red;'>Passwords are not the same</span>";
                    }
                }
    }

    private void HideResult()
    {
        if (!resultInformation.Equals(""))
        {
            resultInformation = "";
        }
    }

    private async Task OnInputFileChanged(IFileListEntry[] files)
    {
        byte[] updatedAvatar = await FileUpload.ConvertFile(files.FirstOrDefault());
        User.Avatar = updatedAvatar;
        
        avatarSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(updatedAvatar));
    }

}