@using SEP3_Tier1Blazor_WASM.Models.UserModels
@inject NavigationManager NavigationManager
@inject IUserManger UserManger

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" @onclick=Close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    @if (IsShare)
                    {
                        foreach (var user in usersWithStatus)
                        {
                            
                            <UserInList User="@user" IsShare="true" CurrentLoggedId="@CurrentLoggedId" AlreadyShared="@user.Status[StatusNumber]" Action="@Action" OnClickAction="OpenProfile"/>
                        }
                    }
                    else
                    {
                        foreach (var user in Users)
                        {
                            <UserInList User="@user" OnClickAction="OpenProfile"/>
                        }
                    }

                    <button @onclick=LoadMoreUsers>Load More</button>
                </ul>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public List<UserShortVersion> Users { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string ListType { get; set; }
    
    [Parameter]
    public int CurrentLoggedId { get; set; }

    [Parameter]
    public int UserId { get; set; }
    
    [Parameter]
    public bool IsShare { get; set; }
    
    [Parameter]
    public int StatusNumber { get; set; }
    
    [Parameter]
    public UserActionTypes Action { get; set; }

    private string ModalDisplay = "none;";
    private string ModalClass = "";
    private bool ShowBackdrop = false;
    private List<UserShortVersionWithStatus> usersWithStatus;

    protected override async Task OnInitializedAsync()
    {
        Users = new List<UserShortVersion>();
        
    }
    
    /// <summary>
    /// Opens popup box responsible for displaying a list of users
    /// </summary>
    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }
    
    /// <summary>
    /// Closes popup window
    /// </summary>
    private void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
    
    /// <summary>
    /// Sends a request for loading more users to the list and displays a result
    /// </summary>
    private async Task LoadMoreUsers()
    {
        if (IsShare)
        {
            await LoadUsersWithStatus();
        }
        else
        {
            await LoadUsersWithoutStatus();
        }
        
        StateHasChanged();
    }
    
    /// <summary>
    /// Displays users in a list according to the status given by a parameter
    /// </summary>
    public async Task LoadUsersWithStatus()
    {
        if (ListType.Equals("FriendList"))
            usersWithStatus = await UserManger.GetUserFriends(UserId,CurrentLoggedId, Users.Count);
    }
    
    /// <summary>
    /// Displays users in a list if a status is not set
    /// </summary>
    public async Task LoadUsersWithoutStatus()
    {
        List<UserShortVersionWithStatus> temp = new List<UserShortVersionWithStatus>();
        if (ListType.Equals("FriendList"))
            temp = await UserManger.GetUserFriends(UserId,CurrentLoggedId, Users.Count);

        foreach (var user in temp)
        {
            Users.Add(user);
        }
    }

}